{% extends 'core/base.html' %}
{% load django_bootstrap5 %}

{% block title %}Inventory Manager{% endblock %}

{% block content %}
<div class="container-fluid">
    <br />
    <form method="get">
        <label for="lookup_by_id">Scan Barcode: </label>
        <input id="lookup_by_id" type="text" name="lookup_by_id" value="{{ item_id }}">
        <button type="submit" class="btn btn-primary w-10" id="lookup-barcode-button">Item Lookup</button>
    </form>
</div>

<form method="post" action="{% url 'add_remove_items_by_barcode' %}" novalidate>
    {% csrf_token %}

    <!-- Radio buttons (manually rendered) -->
    <div class="container-fluid mt-2">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="add_remove" id="btnradio-add" value="add"
                autocomplete="off" {% if add_remove_items_by_barcode_form.add_remove.value == "add" %}checked{% endif %}>
            <label class="btn btn-outline-primary" for="btnradio-add">Add Items</label>

            <input type="radio" class="btn-check" name="add_remove" id="btnradio-remove" value="remove"
                autocomplete="off" {% if add_remove_items_by_barcode_form.add_remove.value == "remove" %}checked{% endif %}>
            <label class="btn btn-outline-primary" for="btnradio-remove">Remove Items</label>
        </div>
    </div>

    <!-- Other form fields -->
    <div class="container-fluid mt-2">
        {{ add_remove_items_by_barcode_form.barcode.label_tag }}
        {{ add_remove_items_by_barcode_form.barcode }}
        {% if add_remove_items_by_barcode_form.barcode.errors %}
            <div class="text-danger">
                {{ add_remove_items_by_barcode_form.barcode.errors }}
            </div>
        {% endif %}
    </div>

    <!-- Submit -->
    <div class="container-fluid mt-2">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
