{% extends 'core/base.html' %}

{% load django_bootstrap5 %}

{% block title %}
    Order Details
{% endblock %}

{% block content %}

    {% if orders %}
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>PO_NO</th>
                    <th>PO_DATE</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.item }}</td>
                        <td>{{ order.po_no }}</td>
                        <td>{{ order.po_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No orders found in the given range.</p>
    {% endif %}
    <hr>

    <p>
        Right now this is hardcoded for a set interval. Will add functionality for adjusting start and end dates.
    </p>

{% endblock %}
