{% extends 'core/base.html' %}

{% load django_bootstrap5 %}

{% block title %}
    Order Details
{% endblock %}

{% block content %}

    {% if orders %}
        <table class="table table-sm">
            <thead>
                <tr>
                    {% for column in column_names %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        {% for field, value in order.items %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No orders found in the given range.</p>
    {% endif %}
    <hr>

    <p>
        Right now this is hardcoded for a set interval. Will add functionality for adjusting start and end dates.
    </p>

{% endblock %}
