<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% extends 'core/base.html' %}

{% load django_bootstrap5 %}

{% block title %}
    Order Details
{% endblock %}

{% block content %}

<div id="DateHeader">
    <br />
    <h4>Current range:</h4>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.start_date.label_tag }}
            <input type="date" id="start_date" name="start_date" value="{{ form.start_date.value|default:'' }}"
               min="{{ lower_date_bound }}" max="{{ upper_date_bound }}">
        </div>
        <div>
            {{ form.end_date.label_tag }} 
            <input type="date" id="end_date" name="end_date" value="{{ form.end_date.value|default:'' }}"
               min="{{ lower_date_bound }}" max="{{ upper_date_bound }}">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>

{%if total_orders_across_range > 0 %}
<div id="ChartContainer">
    <div class="chart-container">
        <canvas id="orders-by-month"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="orders-by-vendor"></canvas>
    </div>
</div>
{% else %}
    <p> No orders found in the given range. </p>
{% endif %}

<script>
    var ordersByMonthCtx = document.getElementById('orders-by-month')
    var ordersByMonthChart = new Chart(ordersByMonthCtx, {
        type: 'bar',
        options: {
            responsive: true,
            stacked: false,
            scales: {
                'Orders By Month': {
                    type: 'linear',
                    position: 'left',
                    display: true,
                },
                'Cost By Month': {
                    type: 'linear',
                    position: 'right',
                    display: true,
                    grid: {
                        drawOnChartArea: false,
                    },
                },
            }
        },
        data: {
            labels: JSON.parse('{{ orders_by_month_keys|safe }}'),
            datasets: [
                {
                    label: 'Orders By Month',
                    yAxisID: 'Orders By Month',
                    data: JSON.parse('{{ orders_by_month_values|safe }}'),
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Cost By Month',
                    yAxisID: 'Cost By Month',
                    data: JSON.parse('{{ cost_by_month_values|safe }}'),
                    backgroundColor: 'rgba(255, 104, 0, 0.5)',
                    borderColor: 'rgba(255, 104, 0, 0.5)',
                    borderWidth: 1
                }
            ]
        }
    });

    var ordersByVendorCtx = document.getElementById('orders-by-vendor')
    var ordersByVendorChart = new Chart(ordersByVendorCtx, {
        type: 'doughnut',
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top'
                },
                title: {
                    display: true,
                    text: 'Orders by Vendor'
                }
            }
        },
        data: {
            labels: JSON.parse('{{ vendors_keys|safe }}'),
            datasets: [
                {
                    label: 'Orders by Vendor',
                    data: JSON.parse('{{ vendors_values|safe }}'),
                }
            ]
        }
    });
</script>

<style>
    input,
    label {
    margin: 0.4rem 0;
    }

</style>

{% endblock %}

